@import "../../global.scss";

.menu {
  width: 300px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;

  &.active {
    right: 0;

    @include mobile {
      right: -40px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width: 60%;

    li {
      margin-bottom: 23px;
      padding-bottom: 3px;

      a {
        position: relative;
        text-decoration: none;
        color: inherit;
        text-decoration: none;
      }

      a::after {
        content: "";
        display: block;
        position: absolute;
        height: 3px;
        background-color: white;
        //type animation 1
        // width: 100%;
        // transform: scale(0);
        // transition: transform 0.2s ease-in-out;

        //type animation 2
        width: 0%;
        transition: width 0.2s ease-in-out;
      }

      a:hover::after {
        //type animation 1
        // transform: scale(1);

        //type animation 2

        width: 100%;
      }

      // &:hover {
      //   font-weight: 500;
      // }
    }
  }
}
