@import "../../global.scss";

.about {
  //   background-color: rgb(79, 79, 79);
  background-color: rgba(202, 202, 202, 0.987);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .container {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    .left {
      width: 42%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      @include mobile {
        width: 90%;
        height: 15%;
        padding-top: 2em;

        img {
          display: none;
        }
      }

      h1 {
        position: absolute;
        font-weight: 800;
        font-size: 50px;
        right: 2em;
        // color: $mainColor;
        color: #373434;

        @include mobile {
          font-size: 40px;
          position: static;
          margin-top: 10px;
        }
      }
    }

    .right {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 20px;

      @include mobile {
        width: 90%;
        padding: 10px;
        justify-content: flex-start;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 30px;
        transition: all 0.3s;
        box-sizing: border-box;
        color: #000000;
      }

      .btn {
        @include mobile {
          text-align: center;
        }

        a {
          display: inline-block;
          padding: 22px 26px;
          color: white;
          text-decoration: none;
          border: 2px solid crimson;
          margin-top: 10px;
          font-size: 16px;
          text-align: center;
          border-radius: 4px;
          transition: All 0.4s ease;
          font-weight: 500;

          &:first-child {
            background-color: crimson;
            margin-right: 2em;

            @include mobile {
              margin-right: 12px;
            }

            &:hover {
              background-color: transparent;
              color: crimson;
            }
          }

          &:last-child {
            color: crimson;
            &:hover {
              background-color: crimson;
              color: white;
            }
          }
        }
      }
    }
  }
}
